/* Put your CSS here */
.ember-application {
    margin: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: white;
  margin: 0;
}


h1, h2, h3 {
    line-height: 1;
  }

p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }

header {
  color: #fff;
  text-align: center;
  background: url('file:///Users/michellemarin/iron-yard/mytop7/styleguide/The-Night-Sky.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

header a {
    margin-left: 0;
}



article {
  margin: 0 auto;
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  padding: 0;
  color: #222;
  text-align: center;
}

#homepage {
  background: url('file:///Users/michellemarin/iron-yard/mytop7/styleguide/home.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

#homeinner {
  color: white;
  text-align: center;
  width: 40%;
  margin-left: 20%;
  padding: 20px;
}

#homeinner li {
  color: white;
}



li {
  color: #3A3A3A;
  list-style: center;
  list-style-type: none;
}

.nav li {
  display: inline-block;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #eee;
}

.form-control {
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}

.form-control.error:focus {
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(215, 44, 44, 0.9);
}
