/* Put your CSS here */



.ember-application {
    margin: 0;
}

body {
  font-family: 'Raleway', Arial, sans-serif !important;
  font-weight: 400;
	font-size: 1em;
  color: #333;
  background: url('file:///Users/michellemarin/iron-yard/mytop7/styleguide/home.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}


h1, h2, h3 {
    line-height: 1;
    font-weight: 800;
  }

p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }



.logo {
  width: 115px;
  height: 115px;
  display: inline-block;
  margin-left: 20px;
}

.logo-responsive {
  width: 100%;
  text-align: center;
}


article {
  margin: 0 auto;
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  padding: 0;
  color: #222;
  text-align: center;
}

header {
  color: #fff;
  background: transparent;
}

#homepage {
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
}

#homepage h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}


li {
  list-style-type: none;
  display: inline-block;
}

.navbar-default.main-nav {
  background: rgba(59, 98, 164, 0.7);
  border: none !important;
}

.navbar-toggle.custom-menu {
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.navbar-header {
  color:  rgba(0, 0, 0, 0.6);
}


.navbar-nav li {
  display: inline-block;
}

.navbar-nav>li>a:hover {
  color:#fff;
}

.collapse.in {
  background: transparent !important;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus .spacer {
  background-color: transparent !important;
  display: inline-block;
}

.spacer {
  height: 100px;
}

.spacer-sm {
  height: 2em;
}

.bg-cover {
  background: rgba(220, 204, 168, 0.9);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 2000px;
  margin: 0;
  padding: 0;
}

.responsive-nav li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #eee;
}


.thing-container {
  margin: 20px auto 0 auto;
  width: 40%;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  border-radius: 6px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: #222;
  text-align: center;
  display: inline-block;
}

.thing-container li {
  display: inline-block;
}

.form-control {
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}

.form-control.error:focus {
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(215, 44, 44, 0.9);
}
